.body {
    background: linear-gradient( rgb(0, 92, 191), #7b3f5f);
    background-repeat: no-repeat;
  }

#nosotros{
    background:linear-gradient(#7b3f5f,#40c057);
    background-repeat: no-repeat;
}

.contenedor{
    position: relative;
    display:flex;
    align-items: center;
}

.logo{
    position: relative;
    display: grid;
    justify-content: center;
    width: 100%;
}

.logo button{
    border: none;
    position: relative;
    width: 200px;
    height: 76px;
    padding: 0;
    z-index: 2;
    -webkit-mask: url("pngegg.png") no-repeat 50% 50%;
    mask: url("pngegg.png") no-repeat 50% 50%; 
    -webkit-mask-size: 100%; /*Warning por uso de etiqueta de dudosa adaptibilidad*/
    cursor: pointer;
    background-color: transparent;
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
}

.logo button::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0 0 0 white;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.logo button:hover{
    box-shadow: 0px -13px 56px 12px #ffffffa6;
}

.logo button span{
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: 100;
    left: 50%;
    top: 50%;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: white;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.logo button:hover span{
    color:yellow;    
}

.logo button::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(125, 0, 142); /*Linea del Color de la animacion*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.logo button:hover::before{
    width: 100%;
}


#portada{
    transition: 2s ease-out 100ms;
    -webkit-transition: 2s ease-out 100ms;
    -moz-transition: 2s ease-out 100ms;
    -ms-transition: 2s ease-out 100ms;
    -o-transition: 2s ease-out 100ms;
}

#portada:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #570083;
        -webkit-box-shadow: 0px 0px 15px 15px #570083;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
}

.tarjeta {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .tarjeta h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .tarjeta::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .tarjeta::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  .tarjeta:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } 
  
  